@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(219, 227, 248) 100%);
}

hr {
  padding: 0;
  margin: 10px 0px;
  background-color: rgba(255, 255, 255, 0.200);
}

h1 {
  font-size: 3.5em;
  font-weight: 800;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-size: 1.8em;
}

h6 {
  font-size: 1em;
  color: #fff000;
}

p {
  font-size: 1em;
  font-weight: 400;
}

span {
  font-weight: 400;
}

a {
  position: relative;
}

li {
  font-weight: 400;
  text-transform: uppercase;
}

.title {
  font-size: 7vh;
}

.hover-border::after {
  content: ' ';
  width: 0%;
  height: 3px;
  background: #ffee00;
  position: absolute;
  top: 0%;
  left: 50%;
  border-radius: 10px;
  transition: all 400ms ease;
}

.hover-border:hover:after {
  left: 0%;
  width: 100%;
}

.hover-border-2::after {
  content: ' ';
  width: 0%;
  height: 3px;
  background: #fff000;
  position: absolute;
  top: 0%;
  left: 50%;
  border-radius: 10px;
  transition: all 600ms ease;
}

.hover-border-2:hover:after {
  left: 0%;
  width: 100%;
}

.menu-rayx {
  font-size: .8em;
  font-weight: 500;
}

.menu-rayx-2 {
  padding: 10px 10px;
  color: white;
}

.menu-rayx-2:hover {
  color: white;
  cursor: pointer;
}

.btn {
  font-weight: 300;
}

.descricao h1 {
  font-size: 2em;
  font-weight: 800;
}

.produto h1 {
  font-size: 2em;
  font-weight: 800;
}

.descricao h4 {
  font-size: 1em;
}

.descricao p {
  font-size: .8em;
}

.descricao ul {
  list-style: none;
  font-size: .8em;
}

.descricao ul li:before {
  content: '✓  ';
  color: lightgreen;
  font-weight: 800;
  text-shadow: 0px 0px 5px #000;
}

section.products a {
  display:block;
}


.divisor {
  margin: 15px 0;
  height: 6px;
  width: 10%;
  background: rgb(23, 56, 131);
  background: linear-gradient(45deg, rgba(23, 56, 131, 1) 0%, rgba(0, 130, 255, 1) 100%);
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.100);
  position: relative;
  right: 10px;
}

.divisor:hover {
  width: 50%;
  transition: all 600ms ease;
}

.divisor2 {
  margin: 15px 0;
  height: 6px;
  width: 10%;
  background-color: yellow;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.100);
  position: relative;
  right: 10px;
}

.divisor2:hover {
  width: 80%;
  transition: all 600ms ease;
}

.verticalbar {
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.500);
  margin: 0 5px;
}

.hero {
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.hero0{
  background: rgb(94,0,0);
  background: linear-gradient(45deg, rgba(94,0,0,1) 0%, rgba(255,0,0,1) 50%, rgba(255,70,0,1) 100%);
  color: #fff;
}

.hero1 {
  background: rgb(0,11,40);
  background: linear-gradient(45deg, rgba(0,11,40,1) 0%, rgba(0,108,255,1) 100%);
  color: #fff;
}

.hero2 {
  background-image: url(../assets/img/002.png);
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.hero3 {
  background: linear-gradient(rgba(0, 0, 0, .7)), url(../assets/wallhome.png);
  @extend .hero;
}

.hero4 {
  background-image: url(../assets/img/004.png);
  @extend .hero;
}

.hero5 {
  background-image: url(../assets/img/005.png);
  @extend .hero;
}

.hero6 {
  background-image: url(../assets/img/006.png);
  @extend .hero;
}

.wave{
  background-image: url(../assets/wave.png);
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero7 {
  background: rgb(0,15,53);
  background: radial-gradient(circle, rgba(0,15,53,1) 0%, rgba(0,0,0,1) 100%);
  color: white;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.hero8 {
  background-image: url(../assets/img/007.png);
  @extend .hero;
}

.hero9 {
  background: rgb(18, 45, 88);
  background: radial-gradient(circle, rgba(18, 45, 88, 1) 0%, rgba(2, 0, 36, 1) 100%);
  color: #ccc;
  text-align: center;
}
.hero9{
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wall {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,5,5)),url(../assets/wallhome1.png);
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
}

.wallhome {
  background: linear-gradient(rgba(0, 0, 0, .5)), url(../assets/wallhome2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

.bg-cadastro{
  background: linear-gradient(rgba(0, 0, 0, .5)), url(../assets/bg-cadastro.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

.topbar {
  background-color: rgb(56, 56, 56);
  color: white;
}

.dropdown-item {
  font-size: .7em;
}

.dropdown-item:hover {
  color: white;
  background-color: rgb(56, 56, 56);
}

nav.navbar.shrink {
  background-color: $dark;
}

nav.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.instagram:hover {
  background-color: #fc0059;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.400);
  transition: .5s;
}

.facebook:hover {
  background-color: #375d9c;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.400);
  transition: .5s;
}

.twitter:hover {
  background-color: #00aaff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.400);
  transition: .5s;
}

.youtube:hover {
  background-color: #ff2a24;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.400);
  transition: .5s;
}

video {
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.400);
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

//aplicação geral

#myInput {
  background-image: url('../assets/icons/search.svg');
  background-position: 10px 15px;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 3px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.100);
}

#myTable {
  border-collapse: collapse;
  width: 100%;
}

#myTable th, #myTable td {
  text-align: center;
  padding: 10px 5px;
  vertical-align: baseline;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #00478d87;
  color:#fff;
  transition: 0.3s;
}

.arrow {
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  color: white;
}

#typed {
  color: #00ff22;
  font-weight: bold;
}

#typed::after {
  content: '';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

#twitter_update_list {
  width: 200px;
  height: 150px;
  background-color: #CCC;
}

#twitter_update_list li {
  font-size: 9px;
  margin: 10px;
}

#twitter_update_list li a {
  color: #0000CC;
}

.class-room {
  position: relative;
  overflow: scroll;
  max-height: 80vh;
}

.list-group-item {
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0);
}

//preloader

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,15,53);
  background: radial-gradient(circle, rgba(0,15,53,1) 0%, rgba(0,0,0,1) 100%);
  z-index: 5000;
  /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
  position: absolute;
  top: 50%;
  /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 60px;
  height: 60px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0.0)
  }

  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 0 0 50px 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hide {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: -5;
}

//header

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../assets/wallhome2.png') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

.jello-horizontal:hover {
  animation: jello-horizontal 1s infinite both
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1)
  }

  30% {
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    transform: scale3d(1, 1, 1)
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.pulsate-bck {
  -webkit-animation: pulsate-bck .5s ease-in-out infinite both;
  animation: pulsate-bck .5s ease-in-out infinite both
}


@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  50% {
    -webkit-transform: scale(.9);
    transform: scale(.9)
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  50% {
    -webkit-transform: scale(.9);
    transform: scale(.9)
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.slide-top{-webkit-animation:slide-top 3.5s ease-in-out infinite alternate-reverse both;animation:slide-top 3.5s ease-in-out infinite alternate-reverse both}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-10 10:46:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-20px);transform:translateY(-20px)}}@keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-20px);transform:translateY(-20px)}}

 //google ads

 .ads2{
  display: none;
}

@media only screen and (max-width: 600px){ //some value
  .ads{
    display: none;
  }

  .ads2{
    display: block;
  }
}

//blog style

.blog-list {
  text-decoration: none;
  color: #fff;
  transition: .3s;
}
.blog-list:hover {
  text-decoration: none;
  color: #fff000;
  margin:0 0 0 15px;
  transition: .5s;
}

iframe {
  width: 100%;
  height: 420px;
}
@media only screen and (max-width: 600px){ //some value
  iframe {
    width: 100%;
    height: 200px;
  }
}

.indisponivel {
  filter: grayscale(100%);
  opacity: 50%;
}


//página de campanha
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.campanha-title-1{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 8vh;
  font-weight: 800;
}
.campanha-title-2{
  font-size: 4vh;
  font-weight: 800;
}
.awesome-span{
  font-family: 'Gloria Hallelujah', cursive;
  color: #0077ee;
  font-weight: 800;
}
.face-place{
  position: relative;
}
.face{
  position:absolute;
  bottom: -48px;
  left: 0;
}
.awesome-btn{
  text-decoration: none;
  color: #fff000;
  font-weight: 700;
  padding: 25px 50px;
  border: 3px solid #fff000;
  border-radius:50px;
  transition: .5s;
  margin: 0 auto;
}
.awesome-btn:hover{
  text-decoration: none;
  color: #000;
  background-color: #fff000;
  margin-bottom: 10px;
  box-shadow:0px 0px 50px #ffee0090;
  transition: .5s;
}

.awesome-btn-2{
  text-decoration: none;
  color: #128C7E;
  font-weight: 700;
  padding: 25px 50px;
  border: 3px solid #128C7E;
  border-radius:50px;
  transition: .5s;
  margin: 0 auto;
}
.awesome-btn-2:hover{
  text-decoration: none;
  color: #fff;
  background-color: #128C7E;
  margin-bottom: 10px;
  box-shadow:0px 0px 50px #128C7E90;
  transition: .5s;
}

@media only screen and (max-width: 767px){ //some value
  .face{
    display: none;
  }
  .campanha-title-1{
    font-size: 7vh;
    font-weight: 800;
  }
  .campanha-title-2{
    font-size: 3vh;
    font-weight: 800;
  }
}

//linktree

.celular {
  width: 620px;
}

@media screen and (max-width: 600px) {
  .celular {
    width: 100%;
  }
}

.linktree-button-1{
  width: 100%;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.500);
  background: rgb(0,119,238);
  background: radial-gradient(circle, rgba(0,119,238,1) 0%, rgba(8,24,68,1) 100%);
}

.linktree-button-2{
  width: 100%;
  text-decoration: none;
  color: black;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.500);
  background: rgb(255,240,0);
}